@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.Presentation-wrapper {
  width: stretch;
  height: stretch;
}

.PresentationWrapper-colorHolder {
  width: stretch;
  height: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.PresentationWrapper-colorBar {
  height: stretch;
}
.Presentation-wrapper.color1 {
  background-color: var(--p1-color1)
}
.Presentation-wrapper.color2 {
  background-color: var(--p1-color2)
}
.Presentation-wrapper.color3 {
  background-color: var(--p1-color3)
}

.Presentation {
  position: fixed;
  top: 13%;
  left: 0;
  right: 0;
}

.Presentation h1 {
  font-family: 'Lobster', cursive;
  font-size: 65px;
  color: white;
}

.Presentation h3 {
  color: white;
  /* line-height: 3; */
  font-style: italic;
}

.Presentation i {
  margin: 10px;
  overflow:unset;
  vertical-align: unset;
  font-size: 50px;
  background-color: inherit;
  box-shadow: none;
  width: inherit;
  height: inherit;
}

.hobbyName {
  font-weight: bold;
}
