@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);

.Presentation-wrapper {
  width: stretch;
  height: stretch;
}

.PresentationWrapper-colorHolder {
  width: stretch;
  height: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.PresentationWrapper-colorBar {
  height: stretch;
}
.Presentation-wrapper.color1 {
  background-color: var(--p1-color1)
}
.Presentation-wrapper.color2 {
  background-color: var(--p1-color2)
}
.Presentation-wrapper.color3 {
  background-color: var(--p1-color3)
}

.Presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5)
}

.Presentation h1 {
  font-family: 'Lobster',
  cursive;
  font-size: 10vmax;
  color: white;
}

.Presentation h3 {
  color: white;
  font-size: 4vmax;
  font-style: italic;
}

.Presentation i {
  margin: 15px;
  overflow:unset;
  vertical-align: unset;
  font-size: 10vmax;
  background-color: inherit;
  box-shadow: none;
  width: inherit;
  height: inherit;
}

.hobbyName {
  font-weight: bold;
}

@media all and (orientation: landscape) {
  .Presentation h3 {
    font-size: 5vmin;
  }

  .Presentation i {
    font-size: 10vmin;
    margin: 5px;
  }
}