/*
FIDGET SPINNER LOADER PRO
by free potato tree
https://codepen.io/arxyz/pen/NMYEyX?page=4
*/

.FetchingHobbiesSpinner .spinner {
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 200px;
}

.FetchingHobbiesSpinner h2 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
