@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
  text-align: center;
  user-select: none;
}

.sideMenu .page__background {
  background-color: #FAFAFA;
  color: black;
}

.SideMenu__items-list-mask {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.2+0,0+22 */
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 22%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 22%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 22%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.SideMenu__items-list {
  background-color: var(--p1-color3);
  height: 100%;
}

.SideMenu__items-list-mask>i {
  color: white;
  font-size: 10vmax;
  margin:1vmax;
}